.recobox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: rgb(10,25,41);
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.recobox-header {
  padding: 16px;
  background-color: rgb(10,25,41);
  color: #fff;
  cursor: pointer;
}

.recobox-body {
  padding: 16px;
}